.status-badge {
  display: inline;

  .accent {
    font-weight: var(--font-weight-medium);
  }

  .text-green {
    color: var(--color-status-success-text);
  }

  .text-yellow {
    color: var(--color-status-warning-text);
  }

  .text-red {
    color: var(--color-status-error-text);
  }
}
